<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark">
        <a class="navbar-brand text-white" href="#">
            <img src="https://i.pinimg.com/564x/1d/74/3b/1d743bb41490128be1b2a0edc8a3e000.jpg" style="width: 70px; border-radius: 50%;" class="fst-italic">Constructions
          </a>
          
     
      
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link text-white" href="">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="">EXPERTIES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="">PRODUCT BRAND</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="">BUY PRODUCTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="">GALLERY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="">PROJECT UPDATES</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="">CAREER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="">CONTACT</a>
              </li>
                  
          </ul>
        </div>  
      </nav>
      <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.pinimg.com/564x/85/1a/16/851a165bdae36e3f126a47d7edefb52b.jpg" alt="Los Angeles" width="1540" height="500" class="img-responsive">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/55/bb/94/55bb9480143e2beefd182e6c5d76c69f.jpg" alt="Chicago" width="1540"  height="500" class="img-responsive">
          </div>
          <div class="carousel-item">
            <img src="https://i.pinimg.com/564x/03/7f/1d/037f1d9abf359fd1f79b9cfb89fdd88f.jpg" alt="New York" width="1540"  height="500" class="img-responsive">
          </div>
      
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
      {% comment %} <div class="container p-30">
        <h1 class="text-center text-primary p-5">Experience Kerala</h1>
      </div>


      <div class="container">
 <div class="row">
  <div class="col-sm-4">
    <div class="gallery m-30">
      <a target="_blank" href="">
        <img src="ayurveda.jpg" alt="Ayurveda" width="350" height="500" hover="bg-warning" class="img-responsive">
      </a>
      <div class="desc">
        <h5 class="text-center">Ayurveda</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="gallery m-30">
      <a target="_blank" href="">
        <img src="artforms.jpg" alt="Artforms" width="350" height="500" class="img-responsive">
      </a>
      <div class="desc">
        <h5 class=" text-center fw-bold">Arts</h5>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="gallery m-30">
      <a target="_blank" href="">
        <img src="village-life.jpg" alt="Village Life" width="350" height="500" class="img-responsive">
      </a>
      <div class="desc">
        <h5 class="text-center">Village life</h5>
      </div>
    </div>
  </div> {% endcomment %}
  
</div>
</div>

</body>
</html>